<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <p>day la trang sign up</p>
    <form action="/user/sign-up" method="POST">
        <div>
            username: 
            <input type="text" name="username" id="">
        </div>
        <div>
            password: 
            <input type="password" name="password" id="">
        </div>
        <div>
            age: 
            <input type="text" name="age" id="">
        </div>
        <div>
            address: 
            <input type="text" name="address" id="">
        </div>
        <button type="submit">
            Đăng kí
        </button>
    </form>
</body>
</html>